
@model LIMS_DEMO.Areas.ManageSampleCollection.Models.ManageSampleCollectionModels

@{
    ViewBag.Title = "SampleCollectionCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="title">
                                <h4>Calendar</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Calendar</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="pd-20 card-box mb-30">
                    <div class="calendar-wrap">
                        <div class="body-nest" id="Filtering">
                            <div class="row">
                                <div class="col-md-12">

                                    <!-- THE CALENDAR -->
                                    <div id="calendar"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="divAssignSampler" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 style="text-align:center;">Assign Sampler</h4>
                            <button type="button" onclick="$('#divAssignSampler').hide();" class="close" data-dismiss="modal">&times;</button>
                            
                        </div>

                        <div class="modal-body">
                            <div id="divAssignPopUp" style="border:none">

                            </div>
                        </div>

                        <div class="modal-footer" style="border:none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
   <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
   <script src="~/Scripts/jquery.validate.min.js"></script>
   <script src="~/Component/plugins/fullcalendar/fullcalendar.min.js"></script>
   <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
  <script>

       function funAssignSampler(SampleCollectionId, WorkOrderSampleCollectionDateId) {

           $('#divAssignPopUp').load('/ManageSampleCollection/ManageSampleCollection/_AssignSampler?&SampleCollectionId=' + SampleCollectionId + "&WorkOrderSampleCollectionDateId=" + WorkOrderSampleCollectionDateId);

           $('#divAssignSampler').show();

      }

       $(document).ready(function () {

                    $('#calendar').fullCalendar({
                        themeSystem: 'bootstrap4',
                        //emphasizes business hours
                        businessHours: false,
                        defaultView: 'month',
                        //event dragging & resizing
                        editable: true,
                        //header
                        header: {
                            left: 'title',
                            center: 'month,agendaWeek,agendaDay',
                            right: 'today prev,next'
                        },
                        events: [
                            //{
                            //    title: 'Barber',
                            //    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                            //    start: '2020-05-05',
                            //    end: '2020-05-05',
                            //    className: 'fc-bg-default',
                            //    icon: "circle"
                            //},
                        ],
                        dayClick: function () {
                            jQuery('#modal-view-event-add').modal();
                        },
                        eventClick: function (event, jsEvent, view) {
                            jQuery('.event-icon').html("<i class='fa fa-" + event.icon + "'></i>");
                            jQuery('.event-title').html(event.title);
                            jQuery('.event-body').html(event.description);
                            jQuery('.eventUrl').attr('href', event.url);
                            jQuery('#modal-view-event').modal();
                        },

                        events: function (start, end, timezone, callback) {

                            $.ajax({
                                url: '/ManageSampleCollection/ManageSampleCollection/GetCalendarData',
                                type: "GET",
                                dataType: "JSON",

                                success: function (result) {
                                    var events = [];

                                    $.each(result, function (i, data) {

                                        if (data.Status == 1) {
                                            events.push(
                                                {
                                                    title: data.Title,
                                                    description: data.Desc,
                                                    start: moment(data.Start_Date).format('YYYY-MM-DD'),
                                                    end: moment(data.End_Date).format('YYYY-MM-DD'),
                                                    id: data.SampleCollectionId,
                                                    id2: data.WorkOrderSampleCollectionDateId,
                                                    backgroundColor: "#356859",
                                                    Status: data.Status,
                                                    //borderColor: "#fc0101",

                                                });
                                        }
                                        else {
                                            events.push(
                                                {
                                                    title: data.Title,
                                                    description: data.Desc,
                                                    start: moment(data.Start_Date).format('YYYY-MM-DD'),
                                                    end: moment(data.End_Date).format('YYYY-MM-DD'),
                                                    id: data.SampleCollectionId,
                                                    id2: data.WorkOrderSampleCollectionDateId,
                                                    backgroundColor: "#720D5D",
                                                    Status: data.Status,
                                                    //borderColor: "#fc0101",
                                                });
                                        }
                                    });

                                    callback(events);
                                }
                            });
                        },

                        eventClick: function (event) {

                            if (event.url) {
                                //window.open(event.url, "_blank");
                                return false;
                            }

                            if (event.Status != 1) {
                                funAssignSampler(event.id, event.id2);
                            }
                        },

                    })
                });
    </script>

