@model IEnumerable<LIMS_DEMO.Areas.Configuration.Models.MenuMasterModel>
@{
    ViewBag.Title = "MenuMappingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>MenuMapping List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Configuration</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Menu Master</li>
                                <li class="breadcrumb-item active" aria-current="page">Menu Mapping List</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-info btn-sm" href="@Url.Action("AddMenuMapping","MenuMaster")" role="button">
                                Add Menu Mapping
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Simple Datatable start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4"> Menu Mpapping List</h4>
                    </div>
                </div>

                <div class="pb-20">
                    <table id="" class="data-table table stripe hover nowrap">
                        <thead>
                            <tr class="thead-dark">
                                <th class="datatable-nosort">SR.NO.</th>
                                <th class="table-plus datatable-nosort">Role Name</th>
                                <th class="table-plus datatable-nosort">Parent Menu</th>
                                <th class="table-plus datatable-nosort">Sub Menu</th>
                                <th class="table-plus datatable-nosort">Is Active</th>
                                @*<th class="datatable-nosort">Action</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{ int rowNo = 0; }
                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="table-plus">@{rowNo++;}@rowNo</td>
                                        <td>@item.RoleName</td>
                                        <td>@item.ParentMenu</td>
                                        <td>@item.SubMenu</td>
                                        <td style="align-items:center">
                                            @if (item.IsActive == true)
                                            {<i class="icon-copy fa fa-check" style="color:green" aria-hidden="true"></i>}
                                            else
                                            {<i class="icon-copy fa fa-close" style="color:red" aria-hidden="true"></i>}
                                        </td>
                                    </tr>
                                }
                            }
                            
                        </tbody>

                    </table>
                </div>
            </div>
            <!-- Simple Datatable End -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dtHorizontalExample').DataTable({
            "scrollX": true
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>

