@model LIMS_DEMO.Areas.Configuration.Models.TestMethodMasterModel
@{
    ViewBag.Title = "AddTestMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Test Method</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Configuration</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Test Method Master</li>
                                <li class="breadcrumb-item active" aria-current="page">Add Test Method Master </li>
                            </ol>
                        </nav>
                    </div>
                    
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            @using (Ajax.BeginForm("AddTestMethod", "TestMethodMaster", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "AddTestMethodSuccess" }))
            {
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Add TestMethod</h4>
                        </div>
                    </div>
                    <div>
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">Test Method</label>
                                <div class="col-sm-12 col-md-10">
                                    @Html.TextAreaFor(model => model.TestMethod, new { @id = "TestMethod", @class = "form-control ckeditor", @rows = "10" })
                                    @Html.ValidationMessageFor(model => model.TestMethod, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">Is Active</label>
                                <div class="col-sm-12 col-md-10">
                                    <label for="square-radio-1" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "True", new { @checked = "checked" }) Yes </label>
                                    <label for="square-radio-2" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "False") No</label>
                                </div>
                            </div>
                            <div class="form-group row" >
                                <div class="col-sm-12 col-md-12">
                                <a class="btn btn-danger btn-sm" href="/Configuration/UserMasterList" style="margin-right:10px">Back</a>
                                @*<a class="btn btn-outline-warning" href="/Configuration/Add" style="margin-right:10px">Reset</a>*@
                                <button type="submit" class="btn btn-info btn-sm" style="float:right">Save</button>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script>
    function AddTestMethodSuccess(result) {
        if (result.Status == "success") {
            alert(result.message);
            location.href = '/Configuration/TestMethodList';
        }
    }
</script>





