@model LIMS_DEMO.Areas.Configuration.Models.ParameterMasterModel
@{
    ViewBag.Title = "AddParameter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Parameter</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                               <li class="breadcrumb-item"><a href="index.html">Configuration</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Parameter Master/li>
                            <li class="breadcrumb-item active" aria-current="page">Add Paramter </li>
                            </ol>
                        </nav>
                    </div>
                   
                </div>
            </div>
            @using (Ajax.BeginForm("AddParameter", "ParameterMaster", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "AddParameterSuccess" }))
            {
                @Html.HiddenFor(model => model.ParameterMasterId)
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Add Parameter</h4>
                        </div>
                        @*<div class="pull-right">
                        <a href="#basic-form1" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>
                    </div>*@
                    </div>
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Parameter:</label>
                            <div class="col-sm-12 col-md-10">
                                @Html.TextAreaFor(model => model.Parameter, new { @id = "Parameter", @class = "form-control ckeditor" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Is Active:</label>
                            <div class="col-sm-4">
                                <label for="square-radio-1" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "True", new { @checked = "checked" }) Yes </label>
                                <label for="square-radio-2" class="radio-btn-pd"> @Html.RadioButtonFor(model => model.IsActive, "False") No</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            @*<a class="btn btn-danger" href="/Configuration/UserMasterList">Cancel</a>*@
                            <a class="btn btn-outline-warning" href="/Configuration/Add">Reset</a>
                            <button type="submit" class="btn btn-outline-primary">Save</button>
                        </div>
                    </form>
                    <div class="collapse collapse-box" id="basic-form1">
                        <div class="code-box">
                            <div class="clearfix">

                                @*<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left" data-clipboard-target="#copy-pre"><i class="fa fa-clipboard"></i> Copy Code</a>
                            <a href="#basic-form1" class="btn btn-primary btn-sm pull-right" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>*@
                            </div>
                            <pre>
                            <code class="xml copy-pre" id="copy-pre"></code>
                        </pre>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>




